.corzinha-evento-inscrito {
    background-color: blue;
}

.corzinha-evento {
    background-color: rgb(255, 151, 99);
}

#coordenador-form {
    display: none;
}


.navIndex button {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  .navIndex button:hover {
    background-color: #aaa;
    cursor: pointer;
  }

  .centralizar {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .event-container {
    background-color: lightgray; /* cor de fundo desejada */
    padding: 10px; /* espaço interno para separar o conteúdo */
    margin-bottom: 20px; /* espaço externo para separar o conteúdo */
}